body {
    text-align: left;
    border: 1px dotted black;
}
h1{
    font-weight: bold;
    text-decoration: underline;
    
}
h2{
    color: black;
    border-style: double;
    font-weight: bold;
    

}
.color-container{
    margin: 40px auto;
    text-align: center;
    width: 20vh;
    display: flexbox; 
    

} 
h4{
    box-sizing: border-box;
    
}
#Yellow{
    background-color: #ffff00;
}

#Green{
    background-color: #008000;
}

#Pink{
    background-color: #ffc0cb;
}
#Gold{
    background-color: #ffd700;
}

#Brown{
    background-color: #a52a2a;
}

#Blue{
    background-color: #0000ff;

}
#Lavender{
    background-color: #e6e6fa;
}
.font-container{
    font-family: 'Source Code Pro', monospace;
}
h3{

    text-decoration: underline;
    font-weight: 300;


}
#Extra-light{
    font-weight: 200;
    font-size: 12px;
}
#semiBold{
    font-weight: 600;

}
#Extra-light-Italics{
    font-weight: 200;

}
