body {
    text-align: left;
    border: 1px dotted black;
    background-color: aqua;
}
h1{
    font-weight: bold;
    text-decoration: underline;
    
}
h2,h3{
    color: black;
    border-style: double;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 26px;
    

}
.color-container{
    margin: 40px auto;
    text-align: center;
    width: 20vh;
    display: flexbox;    

} 

#Yellow{
    background-color: #ffff00;
}

#Green{
    background-color: #008000;
}

#Pink{
    background-color: #ffc0cb;
}
#Gold{
    background-color: #ffd700;
}

#Brown{
    background-color: #a52a2a;
}

#Blue{
    background-color: #0000ff;

}
#Lavender{
    background-color: #e6e6fa;
}
h4{

    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.font.container{
    font-weight: 400;

}

#light-italics{
    font-style: italic;
}
#bold{
    font-weight: bolder;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
h5{
    font-weight: 500;
    font-size: 18px;
    font-family: poppins;
}
