body {
    text-align: left;
}
h1{
    font-weight: bold;
    text-decoration: underline;
    
}
h2{
    color: blue;
    border-style: double;
    

}
.color-container{
    margin: 40px auto;
    text-align: center;
    width: 20vh;
    display: inline-table;  

} 
h4{
    box-sizing: border-box;
}
#yellow{
    background-color: #ffff00;
}
